
@model IEnumerable<SiteCorretor.Models.Residencia>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Residencias</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tableResidencia" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th style="text-align:center">
                Visitas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var total = item.VisitResidencias.Where(x => x.ResidenciaId == item.Id).Count(); 
            <tr>
                <td class="col-md-2 col-lg-2 col-2">
                    @Html.DisplayFor(modelItem => item.Title)
                </td class="col-md-2 col-lg-2 col-2">
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td class="col-md-4 col-lg-4 col-4">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-md-1 col-lg-1 col-1" style="font-size: 14px">
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td class="col-md-1 col-lg-1 col-1" style="text-align:center">
                    @total
                </td>
                <td class="col-md-2 col-lg-2 col-2">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary"}) |
                    <input id="Delete" type="button" class="btn btn-danger"value="Delete" onclick="deleteitem(@item.Id)"/> 
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
    function deleteitem(id){
        if (confirm('Quer mesmo deletar este item?')) {
            $.ajax({
            url: '/admin/residencia/delete',
            type: 'DELETE',
            data: {"id" : id},
            success: function() {   
                location.reload();}
            });
        }
    }   
    </script>
}
    

